### Exercicio 1: Identificación de Tipos

Dada esta lista de valores, identifica e amosa o tipo de cada un:

In [2]:
valores = [
    42,
    3.1416,
    "Ola Python",
    True,
    [1, 2, 3],
    ("a", "b", "c"),
    {"nome": "Gerardo", "edad": 45},
    {1, 2, 3, 2, 1},
    None
]

In [3]:
for valor in valores:
    print(f"""Valor: {valor}
          Tipo: {type(valor)}""")

Valor: 42
          Tipo: <class 'int'>
Valor: 3.1416
          Tipo: <class 'float'>
Valor: Ola Python
          Tipo: <class 'str'>
Valor: True
          Tipo: <class 'bool'>
Valor: [1, 2, 3]
          Tipo: <class 'list'>
Valor: ('a', 'b', 'c')
          Tipo: <class 'tuple'>
Valor: {'nome': 'Gerardo', 'edad': 45}
          Tipo: <class 'dict'>
Valor: {1, 2, 3}
          Tipo: <class 'set'>
Valor: None
          Tipo: <class 'NoneType'>

---

### Exercicio 2: Conversións de Tipo

A partires dos seguintes elementos:

In [4]:
numero_str = "1234"
numero_float = 45.67
lista_numeros = [1, 2, 3, 4, 5]

Realiza as seguintes conversións:

1. numero_str a enteiro
2. numero_float a enteiro (qué pasa coa parte decimal?)
3. lista_numeros a tupla e a conxunto
4. Crea un string que combine numero_str e numero_float

In [6]:
# String a entero
numero_entero = int(numero_str)

# Float a entero (los decimales son truncados)
decimal_entero = int(numero_float)

# Lista a tupla y conjunto
tupla = tuple(lista_numeros)
conjunto = set(lista_numeros)

# String combinado
combinado = f"{numero_str} - {numero_float}"

print(f"""STRING A ENTERO: {numero_entero}
FLOAT A ENTERO: {decimal_entero}
TUPLA: {tupla}
CONJUNTO: {conjunto}
STRING COMBINADO: {combinado}""")

STRING A ENTERO: 1234
FLOAT A ENTERO: 45
TUPLA: (1, 2, 3, 4, 5)
CONJUNTO: {1, 2, 3, 4, 5}
STRING COMBINADO: 1234 - 45.67

---

### Exercicio 3: Cadeas

A partires desta cadea:

In [1]:
texto = "  Python é unha linguaxe de programación super famosa  "

Realiza estas operacións:

1. Elimina espazos ao comezo e ao final
2. Convirte a maiúsculas
3. Reempraza "linguaxe" por "lang"
4. Divide o string en palabras
5. Atopa a posición de "programación"

In [2]:
sin_espacios = texto.strip()
print(f"SIN ESPACIOS: {sin_espacios}")

mayus = sin_espacios.upper()
print(f"MAYÚSCULAS: {mayus}")

reemplazar = sin_espacios.replace("linguaxe","lang")
print(f"REEMPLAZO: {reemplazar}")

division_en_palabras = sin_espacios.split(" ")
print(f"TEXTO DIVIDIDO EN PALABRAS: {division_en_palabras}")

posicion = division_en_palabras.index("programación")
print(f"POSICIÓN DE PROGRAMACIÓN: {posicion}")

SIN ESPACIOS: Python é unha linguaxe de programación super famosa
MAYÚSCULAS: PYTHON É UNHA LINGUAXE DE PROGRAMACIÓN SUPER FAMOSA
REEMPLAZO: Python é unha lang de programación super famosa
TEXTO DIVIDIDO EN PALABRAS: ['Python', 'é', 'unha', 'linguaxe', 'de', 'programación', 'super', 'famosa']
POSICIÓN DE PROGRAMACIÓN: 5

---

### Exercicio 4: Listas

A partires da seguinte lista:

In [3]:
frutas = ["mazá", "plátano", "laranxa", "uva", "mazá"]

Realiza estas operacións:

1. Engade "pera" ao final
2. Inserta "kiwi" na posición 2
3. Elimina a primera "mazá"
4. Ordena a lista alfabéticamente
5. Crea unha nova lista coas frutas que teñen máis de 5 letras

In [6]:
frutas.append("pera")
print(frutas)

frutas.insert(2,"kiwi")
print(frutas)

frutas.remove("mazá")
print(frutas)

frutas.sort()
print(frutas)

frutas_longas = [el for el in frutas if len(el) > 5]
print(frutas_longas)

['kiwi', 'laranxa', 'mazá', 'pera', 'pera', 'plátano', 'uva', 'pera']
['kiwi', 'laranxa', 'kiwi', 'mazá', 'pera', 'pera', 'plátano', 'uva', 'pera']
['kiwi', 'laranxa', 'kiwi', 'pera', 'pera', 'plátano', 'uva', 'pera']
['kiwi', 'kiwi', 'laranxa', 'pera', 'pera', 'pera', 'plátano', 'uva']
['laranxa', 'plátano']

---

### Ejercicio 5: Tuplas

Crea unha tupla coas coordenadas (x, y, z)

In [7]:
coordenadas = (3, 7, 2)

Realiza estas operacións:

1. Accede a cada coordenada individualmente
2. Intenta modificar unha coordenada (qué ocorre?)
3. Convirte a tupla a lista
4. Crea unha nova tupla concatenando (1, 2, 3)
5. Desempaqueta a tupla en variables x, y, z

In [9]:
for c in coordenadas:
    print(c)

#coordenadas[0] = 10 No funciona porque las tuplas no se pueden modificar

lista_coordenadas = list(coordenadas)
print(lista_coordenadas)

nueva_tupla = coordenadas + (1,2,3)
print(nueva_tupla)

x,y,z = coordenadas
print(x,y,z)

3
7
2
[3, 7, 2]
(3, 7, 2, 1, 2, 3)
3 7 2

---

### Exercicio 6: Diccionarios

A partires do seguinte diccionario:

In [10]:
estudante = {
    "nome": "Carlos",
    "idade": 35,
    "modulos": ["Redes", "Sistemas", "Programación"],
    "activo": True
}

Realiza estas operacións:

1. Engade a chave "promedio" con valor 8.5
2. Actualiza la idade a 40
3. Engade "Hardware" á lista de módulos
4. Amosa todas as chaves do diccionario
5. Crea unha copia do diccionario e modifica a copia

In [11]:
estudante["promedio"] = 8.5

estudante["idade"] = 40

estudante["modulos"].append("Hardware")

claves = estudante.keys()
print(claves)

copia_estudante = estudante.copy()
copia_estudante["nome"] = "Juan"

print(estudante)
print(copia_estudante)

dict_keys(['nome', 'idade', 'modulos', 'activo', 'promedio'])
{'nome': 'Carlos', 'idade': 40, 'modulos': ['Redes', 'Sistemas', 'Programación', 'Hardware'], 'activo': True, 'promedio': 8.5}
{'nome': 'Juan', 'idade': 40, 'modulos': ['Redes', 'Sistemas', 'Programación', 'Hardware'], 'activo': True, 'promedio': 8.5}

---

### Exercicio 7: Lista de Diccionarios

Crea unha lista de diccionarios con información de estudantes:

In [12]:
estudantes = [
    {"nome": "Ana", "idade": 20, "nota": 8.5},
    {"nome": "Carlos", "idade": 22, "nota": 7.8},
    {"nome": "María", "idade": 21, "nota": 9.2}
]

Realiza estas operacións:

1. Engade un nopvo estudante.
2. Atopa o estudiante con maior nota.
3. Calcula o promedio de idades.
4. Crea unha lista só cos nomes.
5. Ordena os estudantes por nota (descendente).

In [19]:
nuevo_estudiante = {"nome": "Juan", "idade": 25, "nota": 6}
estudantes.append(nuevo_estudiante)

maior_nota=0
maior_nota = max(el["nota"] for el in estudantes)
print(maior_nota)

promedio_edades = sum(el["idade"] for el in estudantes) / len(estudantes)
print(f"EDAD PROMEDIO: {promedio_edades:.2f}")

lista_nomes = [el["nome"] for el in estudantes]
print(lista_nomes)

estudantes.sort(key=lambda x: x["nota"], reverse=True)
print(estudantes)

9.2
EDAD PROMEDIO: 23.80
['María', 'Ana', 'Carlos', 'Juan', 'Juan', 'Juan', 'Juan', 'Juan', 'Juan', 'Juan']
[{'nome': 'María', 'idade': 21, 'nota': 9.2}, {'nome': 'Ana', 'idade': 20, 'nota': 8.5}, {'nome': 'Carlos', 'idade': 22, 'nota': 7.8}, {'nome': 'Juan', 'idade': 25, 'nota': 6}, {'nome': 'Juan', 'idade': 25, 'nota': 6}, {'nome': 'Juan', 'idade': 25, 'nota': 6}, {'nome': 'Juan', 'idade': 25, 'nota': 6}, {'nome': 'Juan', 'idade': 25, 'nota': 6}, {'nome': 'Juan', 'idade': 25, 'nota': 6}, {'nome': 'Juan', 'idade': 25, 'nota': 6}]

---

### Exercicio 8: Conxuntos

A partir destes conxuntos:

In [32]:
conx_a = {1, 2, 3, 4, 5}
conx_b = {4, 5, 6, 7, 8}

Realiza estas operacións:

1. Unión de ambos conxuntos
2. Intersección
3. Diferencia (A - B)
4. Diferencia simétrica
5. Verifica si 3 está en A

In [33]:
union = conx_a | conx_b
print("UNIÓN:", union)

interseccion = conx_a & conx_b
print("INTERSECCIÓN:", interseccion)

diferencia = conx_a - conx_b
print("A - B: ", diferencia)

dif_simetrica = conx_a ^ conx_b
print("DIFERENCIA SIMÉTRICA: ", dif_simetrica)

print("¿3 en A?: ", 3 in conx_a)

UNIÓN: {1, 2, 3, 4, 5, 6, 7, 8}
INTERSECCIÓN: {4, 5}
A - B:  {1, 2, 3}
DIFERENCIA SIMÉTRICA:  {1, 2, 3, 6, 7, 8}
¿3 en A?:  True

---

### Exercicio 9: Programa Integrador

Crea un programa que:

1. Pida ao usuario o seu nome, idade e cidade de residencia
2. Almacene esa información nun diccionario
3. Convirta a idade a enteiro
4. Cree unha lista de hobbies (pregunta por 3 polo menos)
5. Amose toda a información formateada de xeito lexible

In [21]:
usuario = {
    "nome": input("Introduce o teu nome: "),
    "idade": int(input("Introduce a túa idade: ")),  # Convierto a entero aqui
    "cidade": input("Introduce a túa cidade de residencia: ")
}

hobbies = []
print("Introduce polo menos 3 hobbies:")
for i in range(3):
    hobby = input(f"Hobby {i+1}: ")
    hobbies.append(hobby)

usuario["hobbies"] = hobbies

print("\n--- INFORMACIÓN ---")
print(f"NOMBRE: {usuario['nome']}")
print(f"EDAD: {usuario['idade']}")
print(f"CIUDAD: {usuario['cidade']}")
print("HOBBIES:")
for h in usuario["hobbies"]:
    print(f"- {h}")

Introduce polo menos 3 hobbies:

--- INFORMACIÓN ---
NOMBRE: Manuel
EDAD: 20
CIUDAD: Sanxenxo
HOBBIES:
- Futbol
- Programación
- Diseño Gráfico

---

### Exercicio 10: Combinación de Tipos Complexos

Temos un Sistema de biblioteca:

In [30]:
biblioteca = {
    "libros": [
        {
            "titulo": "Cien años de soledad",
            "autor": "Gabriel García Márquez", 
            "ano": 1967,
            "xeneros": {"Realismo mágico", "Novela"},
            "disponible": True
        },
        {
            "titulo": "1984",
            "autor": "George Orwell",
            "ano": 1949,
            "xeneros": {"Ciencia ficción", "Distopía"},
            "disponible": False
        }
    ],
    "usuarios": {
        "001": {"nome": "Ana", "libros_prestados": ["1984"]},
        "002": {"nome": "Carlos", "libros_prestados": []}
    }
}

Realiza estas operacións:

1. Engade un novo libro.
2. Marca un libro como non dispoñible.
3. Atopa todos os libros dun xénero.
4. Libros dispoñibles por autor.
5. Usuario con máis libros prestados.

In [31]:
nuevo_libro = {
    "titulo": "El Principito",
    "autor": "Antoine de Saint-Exupéry",
    "ano": 1943,
    "xeneros": {"Fábula", "Infantil"},
    "disponible": True
}
biblioteca["libros"].append(nuevo_libro)

for libro in biblioteca["libros"]:
    if libro["titulo"] == "El principito":
        libro["disponible"] = False

libros_genero = [el["titulo"] for el in biblioteca["libros"] if "Fábula" in el["xeneros"]]
print(libros_genero)

libros_dispoñibles_autor = [libro["titulo"] for libro in biblioteca["libros"] if libro["autor"] == "Antoine de Saint-Exupéry" and libro["disponible"]]

mas_libros_prestados = max(biblioteca["usuarios"].items(), key=lambda x: len(x[1]["libros_prestados"]))
print(mas_libros_prestados[1]["nome"])

['El Principito']
Ana